<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <meta name="author" content="Chinonso Morba">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Products,Available courses online, Amazon products">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'; object-src 'none'">
  <title>Marketting Products</title>
  <!-- Bootstrap code link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="/css/form-validation.css">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&family=Roboto+Condensed:wght@300;400&family=Space+Mono:wght@400;700&family=Ubuntu+Mono&family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!-- for icons from fontawesome-->
  <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script defer src='https://uses.fontawesome.com/releases/v5.0.7/js/all.js'></script>
  <script src='https://kit.fontawesome.com/bd54fad1f5.js' crossorigin='anonymous'></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/css/dashboard.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/dashstyles.css">

</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="col-md-3 col-lg-2 mr-0 px-3 dome doc" href="/">hubtek</a>
    <ul class="navbar-nav px-3 ">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/logout">log out</a>
      </li>
    </ul>
  </nav>
  <div class="">
    <aside class="asideleft bg-light">
      <ul class="list-unstyled">
        <li class="my-3 ml-2 mt-3 "><a class="text-dark dash" href="/integration">
            <i class="fa fa-th" aria-hidden="true"></i>
            &nbsp;<span class="hide" >Integrations</span>
          </a></li>
        <li class="my-3 ml-2 mt-3 "><a class="text-dark dash" href="/blog">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            &nbsp; <span class="hide" >My Blog</span>
          </a></li>
        <li class="my-3 ml-2 mt-3 "><a class="text-dark dash" href="/reports">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            &nbsp;<span class="hide" >Reports</span> </a></li>
        <li class="my-3 ml-2 mt-3 "><a class="text-dark dash" href="/dashboard">
            <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
            &nbsp;<span class="hide" >Customers</span> </a></li>
      </ul>
    </aside>
