<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <meta name="author" content="Chinonso Morba">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Products,Available courses online, Amazon products">
  <title>Marketting Products</title>
  <!-- Bootstrap code link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&family=Roboto+Condensed:wght@300;400&family=Space+Mono:wght@400;700&family=Ubuntu+Mono&family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!-- for icons from fontawesome-->
  <script defer src='https://uses.fontawesome.com/releases/v5.0.7/js/all.js'></script>
  <script src='https://kit.fontawesome.com/bd54fad1f5.js' crossorigin='anonymous'></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="css/dashboard.css" rel="stylesheet">
  <link rel="stylesheet" href="css/dashstyles.css">

</head>
<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="col-md-3 col-lg-2 mr-0 px-3 dome doc" href="/">Dometech</a>
    <ul class="navbar-nav px-3 ">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/logout">log out</a>
      </li>
    </ul>
  </nav>
  <div class="">
  <aside class="asideleft bg-light">
  <ul class="list-unstyled">
    <li class="my-3 ml-5 mt-3 "><a class="text-dark dash" href="/integration">Integrations</a></li>
    <li class="my-3 ml-5 mt-3 "><a class="text-dark dash" href="/blog">My Blog</a></li>
    <li class="my-3 ml-5 mt-3 "><a class="text-dark dash" href="/reports">Reports</a></li>
    <li class="my-3 ml-5 mt-3 "><a class="text-dark dash" href="/dashboard">Customers</a></li>
  </ul>
  </aside>
