<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <meta name="author" content="Chinonso Morba">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Project, web project development, Marketting products">
  <meta name="theme-color" content="#3c790a">
  <meta name="keywords"
    content="web development, blog, web application, build your website, build your web application, build your web page, rapid developmental tools, user interface design, user experience design, fast developing company, web Project, Search engine optimization, Help me with my project">
  <title>Web development with hubtek</title>
  <!-- Bootstrap code link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link href="/css/blog.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/payment.css" type="text/css">
  <link rel="stylesheet" href="/css/form-validation.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&family=Roboto+Condensed:wght@300;400&family=Space+Mono:wght@400;700&family=Ubuntu+Mono&family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <!-- for icons from fontawesome-->
  <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script defer src='https://uses.fontawesome.com/releases/v5.0.7/js/all.js'></script>
  <script src='https://kit.fontawesome.com/bd54fad1f5.js' crossorigin='anonymous'></script>
</head>

<body>
  <!-- Navigation  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow">
    <a class="navbar-brand dome textcolor dometech" href="/">hubtek</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link linker active" href="/">Home</a><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link linker active" href="/myBlog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linker active" href="/#testimonials">Testimonials </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link linker active" href="/#offers">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linker active" href="/#news">Latest news</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link linker active" href="/#contacts">Contact</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link linker active" href="/register">register</a>
        </li>
        <li class="nav-item text-nowrap">
          <a class="nav-link linker active" href="/member">Member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/">WELCOME!!!</a>
        </li>
        <li class="nav-item">
          <a href="https://wa.me/message/OEYQUGB737R3J1" class="nav-link linker active">
            <i class="fa fa-whatsapp fa-1x" aria-hidden="true" style="color:green;"> Chat on Whatsapp</i>
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="post">
        <input class="form-control mr-sm-2" value name="blogtitle" type="search" placeholder="Search Blog" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </nav>
  <!-- End of Navigation -->

  <a href="https://wa.me/message/OEYQUGB737R3J1" class="whatsapp">
    <i class="fa fa-whatsapp fa-3x" aria-hidden="true" style="color:#515070;"></i>
  </a>


  <!--
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'Montserrat', sans-serif;
   -->
