<%- include("partials/dashboardheader") -%>

<div class="aside">
  <div class="">
    <h2 class="my-3 dash">Compose message</h2>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="ap"><strong>+</strong> Add Paragraph</span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="hr"><strong>+</strong> Add Horizontal row</span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="abr"><strong>+</strong> Add Abbreviation</span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="sp"><strong>+</strong> Add Span</span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="a"><i class= "fa fa-link" aria-hidden="true"></i></span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="ai"><i class= "fa fa-italic" aria-hidden="true"></i></span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="ae"><strong>+</strong> Add Emphasis</span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="ab"><strong>+</strong> Add Bold</span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="al"><strong>+</strong> Add List</span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="im"><strong>+</strong> Add Image</span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="bq"><strong>+</strong> Add blockquote</span>
    <span class="btn btn-sm btn-primary mr-3 mb-3" id="sr"><strong>+</strong> Add Script</span>
    <span class="btn btn-sm btn-danger mr-3 mb-3" id="pre">Commit</span>
  </div>

  <form class="form-inline" action="/blog" method="post">
    <ul class="list-unstyled" id="bloglist">
      <li>
        <label for="author" class="form-control my-3 mr-3 btn-info btn-sm">Author's name</label>
        <input class="form-control my-3" type="text" name="author" value="" id="author" placeholder="Author's name" required<br>
        <label for="title" class="form-control my-3 mr-3 btn-info btn-sm">Title of post</label>
        <input class="form-control my-3" type="text" name="title" value="" id="title" placeholder="Title" required><br>
        <label for="typeofBlog" class="form-control my-3 mr-3 btn-info btn-sm">Type of post</label>
        <input class="form-control my-3" type="text" name="typeofBlog" value="" id="typeofBlog" placeholder="Type of post" required><br>
        <label for="imageaddr" class="form-control my-3 mr-3 btn-info btn-sm">Image caption url</label>
        <input class="form-control my-3" type="text" name="url" value="" id="imageaddr" placeholder="Input image caption url" required><br>
        <h1 class="text-muted my-3">Content</h1>
        <div class="jumbotron">

        </div>

      </li>

    </ul>

  </form>
</div>

<%- include("partials/dashboardfooter") -%>
