<%- include("partials/header") -%>

<ul class="nav nav-tabs justify-content-center bg-dark" style="position:relative;">
  <li class="nav-item">
    <a class="nav-link linker active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link linker" href="/myBlog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/">WELCOME!!!</a>
  </li>
</ul>
<!-- Introduction -->
<div class="bg-light sweet">

  <div class="navigation-pan textcolor">
    <h1 class='sup'>Move your business higher with our developmental tools.
      <a href="/customer" class="btn btn-outline-dark">Start here</a>
    </h1>
    <p style="margin-bottom:0;">Dometech starts your dream of having a website
      that can serve up to your customers expectation. We are on the lookout not just
      to build the website for your business but to also provide good security measures for your potential customers.
    </p>
  </div>
</div>
<!-- End of introduction -->

<!-- How we work -->
<section class="worksection">
  <div class="work">
    <h2 class="designer">How we work</h2>
  </div>

  <div class="row sidespace">
    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/planWorld.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Planning</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/myBlog" class="btn btn-outline-primary mt-1">Visit our Blog</a>
          <a href="/customer" class="btn btn-outline-dark mt-1">Hire me</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/planBoard.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Design</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/myBlog" class="btn btn-outline-primary mt-1">Visit our Blog</a>
          <a href="/customer" class="btn btn-outline-dark mt-1">Hire me</a>        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/projectDevelopment.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Development</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/myBlog" class="btn btn-outline-primary mt-1">Visit our Blog</a>
          <a href="/customer" class="btn btn-outline-dark mt-1">Hire me</a>        </div>
      </div>

    </div>
    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/security.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Security</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/myBlog" class="btn btn-outline-primary mt-1">Visit our Blog</a>
          <a href="/customer" class="btn btn-outline-dark mt-1">Hire me</a>        </div>
      </div>

    </div>

    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/nurtureIdea.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Production</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/myBlog" class="btn btn-outline-primary mt-1">Visit our Blog</a>
          <a href="/customer" class="btn btn-outline-dark mt-1">Hire me</a>        </div>
      </div>

    </div>

  </div>
</section>
<!-- End of work section -->


<section>
  <div class="row">


    <div class="position col-lg-4 col-md-8 col-sm-12 " id="offers">
      <img src="#" alt="">
      <h1>SEO Ready Code</h1>
      <p>Ready site that has been optimized for search engine optimization.</p>
    </div>

    <div class="col-lg-4 col-md-8 col-sm-12 position rev ">
      <img src="#" alt="">
      <h1>Responsive development</h1>
      <p>Responsive on smartphones, tablet, pc and others.</p>
    </div>

    <div class="col-lg-4 col-md-8 col-sm-12 position">
      <img src="#" alt="">
      <h1>Awesome Feature</h1>
      <p>Easy-to-use, dynamic colors, grid, video, map and much more.</p>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 position rev">
      <img src="#" alt="">
      <h1>Full support</h1>
      <p>A ready support to help you with solutions to problems.</p>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 position">
      <img src="#" alt="">
      <h1>High customizibility</h1>
      <p>Customize website in few seconds</p>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 position rev">
      <img src="#" alt="">
      <h1>up-To-Date Software</h1>
      <p>Advance Software development</p>
    </div>
  </div>
</section>

<section class="worksection ">
  <div class="reasons">
    <h1>Few Reasons</h1>
    <h1>Why Choose Us</h1>
  </div>

  <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12 reshape">
      <div class="vertical">
        <h1>.01</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Our Client</h5>
          <p class="card-text">Lorem ipsum is placeholder text commonly used in the graphic,
            print, and publishing industries for previewing layouts and visual mockups.</p>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12 reshape">
      <div class="vertical">
        <h1>.02</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Projects</h5>
          <p class="card-text">Lorem ipsum is placeholder text commonly used in the graphic,
            print, and publishing industries for previewing layouts and visual mockups.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 reshape">
      <div class="vertical">
        <h1>.03</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Report and Analysis</h5>
          <p class="card-text">Lorem ipsum is placeholder text commonly used in the graphic,
            print, and publishing industries for previewing layouts and visual mockups.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="testimonials">
  <div class="imageresize reasons">
    <h1 class="OT">Our Testimonials</h1>
    <!-- bootstrap carousels  -->
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="imageresize">
          <img src="images/coffeeComputer.jpg" class="d-block w-100 ir" alt="...">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      </div>

      <div class="carousel-item">
        <div class="imageresize">
          <img src="images/travel.jpg" class="d-block w-100 ir " alt="...">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="carousel-item">
        <div class="imageresize">
          <img src="images/relations.jpg" class="d-block w-100 ir" alt="...">
        </div>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- end of bootstrap carousels -->
</section>

<section class="worksection " id="news">
  <h1 class="reasons">Our News</h1>

  <!-- bootstrap media -->
  <ul class="list-unstyled res">
    <li class="media my-4">
      <img src="images/strategiesDevelopment.jpg" class="mr-2 newsimage" alt="...">
      <div class="media-body mr-2">
        <h5 class="mt-0 mb-1 fonter">List-based media object</h5>
        <p class="OR">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
          <a href="#" class="disp">VIEW DETAILS <span>></span></a>
        </p>
      </div>
    </li>
    <li class="media my-4">
      <img src="images/coffeeComputer.jpg" class="mr-2 newsimage" alt="...">
      <div class="media-body mr-2">
        <h5 class="mt-0 mb-1 fonter">List-based media object</h5>
        <p class="OR">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
          <a href="#" class="disp">VIEW DETAILS <span>></span></a>
        </p>
      </div>
    </li>
    <li class="media my-4">
      <img src="images/studyRead.jpg" class="mr-2 newsimage" alt="...">
      <div class="media-body mr-2">
        <h5 class="mt-0 mb-1 fonter mr-2">List-based media object</h5>
        <p class="OR">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
          <a href="#" class="disp">VIEW DETAILS <span>></span></a>
        </p>
      </div>
    </li>
  </ul>

  <!-- End of bootstrap media -->
</section>


<%- include("partials/footer") -%>
