<%- include("partials/header") -%>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<!-- Custom styles for this template -->
<link href="css/signin.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap-social.css">
<link rel="stylesheet" href="css/socials.css">
<body >
  <div class="row mt-5">
    <div class="col-lg-5 col-md-8 col-sm-8 mt-3">
      <form class="form-signin shadow" method="post" action="/login">
        <h1 class="text-center text-dark">Login</h1>
        <input type="text" class="form-control mb-3" name=" username" placeholder="Username" required autofocus>
        <input type="password" class="form-control mb-3" name=" password" placeholder="Password" required>
        <input type="submit" class="form-control btn-outline-success mb-3" value="submit" name="submit">
      </form>
    </div>


    <div class="col-lg-5 col-md-8 col-sm-8 ">
      <div class="card card-social">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            signin with Google
          </a>
        </div></div>

    </div>

  </div>
  <%- include("partials/footer") -%>
