<%- include("partials/header") -%>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<link rel="stylesheet" href="/css/payment.css" type="text/css">

<body class="bg-light ">
      <div class="jumbotron bgdark">
        <div class="margincenter">
          <h4 class="bold">Payment Successful!</h4>
          <p class="text-white adpaypol3 ">Thanks for using cadatech, we would like to feel more of your presence in our business.</p>
          <small class="text-green d-block" style="font-size:0.5rem;margin-top:10px;margin-bottom:10px;">Click the link below to know more about our products.</small>
          <a href="/myBlog" class="link"><button type="button" class="paypol widthpay montserrat bold" style="background-color:#28a745; color:white;" name="button">Click here</button></a>
          <a href="/payment2" class="link d-block mt-3 text-muted">Make another payment</a>
          <p class="margincenter mt-5 my-5"><i class="fa fa-lock" aria-hidden="true"></i> <span class="montserrat ">Secured by</span> <strong class="ubuntu">paystack</strong></p>
        </div>
      </div>
  <!-- Java script code link for bootstrap-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> <!-- jquery code link -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
