<%- include("partials/header") -%>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<!-- Custom styles for this template -->
<link href="/css/signin.css" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap-social.css">
<link rel="stylesheet" href="/css/socials.css">

<body>
  <div class="row">

    <div class="col-lg-5 col-md-8 col-sm-8">

      <form class="form-signin shadow needsValidation" method="post" action="/registerAdmin" novalidate>
        <h1 class="text-center text-dark">Register</h1>
        <div class="mb-3">
          <span class="text-danger">*</span>
          <input type="text" class="form-control " name="username" placeholder="Username" required autofocus>
          <span class="toValidate text-success"><%= words %></span>
          <div class="invalid-feedback">Username is required</div>
        </div>
        <div class="mb-3">
          <span class="text-danger">*</span>
          <input type="text" class="form-control " name="name" placeholder="First Name" required>
          <div class="invalid-feedback">First name is required</div>
        </div>
        <div class="mb-3">
          <span class="text-danger">*</span>
          <input type="text" class="form-control " name="surname" placeholder="Last Name" required>
          <div class="invalid-feedback ">Last name is required</div>
        </div>
        <div class="mb-3">
          <span class="text-danger">*</span>
          <input type="email" class="form-control " name="email" placeholder="Email address" required>
          <span class="toValidate text-success"><%= email %></span>
          <div class="invalid-feedback">Email address is required</div>
        </div>
        <div class="mb-3">
          <span class="text-danger">*</span>
          <input type="text" class="form-control " name="organisation" placeholder="Company/Organisation" required>
          <div class="invalid-feedback">Company or Organisational name  is required</div>
        </div>
        <div class="mb-3">
          <div class="toValidate text-success" id="danger">
            Password must Not be less than 8 characters and not more than 24 characters, should have atleast a capital letter, small letter, number and any one or more of these characters(#,$,%,*,?,_,!,@).
            <span class="text-danger">*</span>
          </div>
          <input type="password" class="form-control " id="password1" name="password" placeholder="Password" required minlength="6" maxlength="24">
          <div class="invalid-feedback">password is required</div>
        </div>
        <div class="mb-3">
          <span class="text-danger">*</span>
          <input type="password" class="form-control " id="password2" placeholder="Confirm Password" name="password2" required minlength="6" maxlength="12">
          <div class="invalid-feedback text-danger mb-3">Confirmation password is required</div>
          <div class="invis toValidate text-success" id="Match">
            Congratulations! Your Passwords Matched, keep it secret.
          </div>
          <div class="invis toValidate text-info" id="noMatch">
            Password does not Match!!!
          </div>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control " id="passcode" name="passcode" placeholder="Passcode" required minlength="6" maxlength="24">
          <div class="invalid-feedback">passcode is required for admin</div>
        </div>
        <script src="/js/registeration_validation.js"></script>
        <input type="submit" class="form-control btn-outline-success mb-3" value="submit" name="submit">
      </form>
    </div>

  </div>

  <%- include("partials/footer") -%>
