<%- include("partials/dashboardheader") -%>

<div class="">
  <div class="jumbotron">
    <table>

      <thead>
        <tr>
          <th class="mx-3 spacing">
            customers_id
          </th>
          <th class="mx-3 spacing">
          Transaction _id</th>
          <th class="mx-3 spacing">
            Email address
          </th>
          <th class="mx-3 spacing">
            Date of conversion
          </th>
          <th class="mx-3 spacing">
            Type of conversion
          </th>
          <th class="mx-3 spacing">
            Point of conversion
          </th>
          <th class="mx-3 spacing">
            Completed (true or false)
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="sidecol">
          <td class="mx-3 spacing">
            1
          </td>
          <td class="mx-3 spacing">
            4rgjnimaiokiee
          </td>
          <td class="mx-3 spacing">
            chinonsodomnic@gmail.com
          </td>
          <td class="mx-3 spacing">
          Today
          </td>
          <td class="mx-3 spacing">
            Web site development
          </td>
          <td class="mx-3 spacing">
            Whatsapp
          </td>
          <td class="mx-3 spacing">
            true
          </td>
        </tr>

        <tr class="sidecol">
          <td class="mx-3 spacing">
            2
          </td>
          <td class="mx-3 spacing">
            jsklajkfj njkn
          </td>
          <td class="mx-3 spacing">
            chinonsodomnic@gmail.com
          </td>
          <td class="mx-3 spacing">
            Affiliate type of site
          </td>
          <td class="mx-3 spacing">
            true
          </td>
          <td class="mx-3 spacing">
            Today
          </td>
          <td class="mx-3 spacing">
            true
          </td>
        </tr>

      </tbody>
    </table>
  </div>



</div>

<%- include("partials/dashboardfooter") -%>
