<%- include("partials/header") -%>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<!-- Custom styles for this template -->
<link href="css/signin.css" rel="stylesheet">

<body>

  <form class="form-signin shadow ">
    <h1 class="text-center text-dark">Signup</h1>
      <input type="text" class="form-control mb-3" placeholder="Name" required autofocus>
      <!-- <label for="name">Name</label> -->
      <input type="text" class="form-control mb-3" placeholder="Surname" required autofocus>
      <!-- <label for="surname">Surname</label> -->
      <input type="email" class="form-control mb-3" placeholder="Email address" required autofocus>
      <!-- <label for="inputEmail">Email address</label> -->

      <input type="password" class="form-control mb-3" placeholder="Password" required>
      <!-- <label for="inputPassword">Password</label> -->
      <input type="submit" class="form-control btn-outline-success mb-3" value="submit" name="submit">

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
  </form>

  <%- include("partials/footer") -%>
