.visit {
  background-color: white;
  border: 1px green dashed;
  border-radius: 10px;
  line-height: 2;
}

.profileNext {
  font-family: 'Montserrat', sans-serif;
  max-width: 95%;
  font-size: 11px;
  line-height: 2;
}
.colo{
  color:#252a34;
  font-weight:600;
}

.cl1 {
  color: #6a2c70;
  font-weight: 900;
}

.cl2 {
  color: #b83b5e;
  font-weight: 900;
}

.cl3 {
  color: green;
  font-weight: 900;
}

.cl3serious {
  color: green;
}

.cl1serious {
  color: #6a2c70;
  font-weight: 600;
}
.cl2serious{
  color: #6a2c70;
  font-weight: 600;
line-height: 2;
}
.cl4 {
  color: red;
  font-weight: 900;
}

.cl5 {
  color: #f08a5d;
  font-weight: 900;
}

@media (max-width:499px) {
  .cl1serious {
    font-size: 11px;
  }

  .cl3serious {
    font-size: 15px;
  }
  .cl2serious{
    font-size: 11px;
  }
  .profileNext {
    font-size: 10px;
  }
}
