/* Navigation */
.dome {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.whatsapp{
visibility: hidden;
}
.nav-link:hover {
  font-weight: bold;
}

.linker {
  color: #e9ecef;
}
.link{
  color:#393e46;
}

.link:active{
  opacity:0.5;
}

.link:hover{
  text-decoration-line:none;
}
.linker:hover {
  color: #f4f4f4;
}
.bold{
  font-weight: bold;
}
/* Introduction */
.navigation-pan {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 20px;
  border: 0;
  width: 33rem;
  line-height: 2.5;
}

.textcolor {
  color:#537780;
  font-weight: bold;

}

.dometech:hover {
  text-shadow: 1px 1px 30px #2b2e4a;
}

.sweet {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  background-image:url("/images/strategiesDevelopment.jpg")

}

/* How we work */
.designer {
  text-align: center;
  font-size: 30px;
  color:white;
  padding-top:20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.sidespace {
  margin-left: 20px;
  margin-right: 20px;
}

.work {
  width: 35rem;
  color: #2b2e4a;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.worksection {
  background:#440047;
  background:linear-gradient(to top right,#440047 50%,#f09ae9 50%);
  margin: 0;
}

/* SEO ready area */
.fontColor{
  color:#07689f;
  margin-left:25%;
  text-align: center;
  margin-top:10%;
  margin-bottom:10%;
}
.position {
  border: #515070 medium solid;
  background-color: #f4f4f4;
  border-left-width: 20px;
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0.1px 0.1px 10px 1px #f4f4f4;
  line-height: 2;
  margin: 30px 30px;
  font-family: 'Montserrat', sans-serif;
}

.position h1 {
  font-size: 0.9rem;
  font-weight: bold;
}

.rev {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right-width: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* section Few Reasons */
.reasons {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.reasons h1 {
  color: #2a3d66;
}

.vertical {
  width: 5rem;
  border: 3px #848ccf solid;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-radius: 5px;
  color: #2a3d66;
  padding-left: 15px;
  margin: 15px;
  font-family: 'Ubuntu Mono', monospace;
}

.reshape {
  margin: 15px;
}

/* Testimonials */
.imageresize {
  width: 22rem;
  margin: 30px auto 30px auto;
}

.imageresized{
  width: 20rem;
  height:10rem
  margin:10px 30px 10px 30px;
}
.ir {
  border-radius:100%;
  height:22rem;
  border:2px solid #2a3d66;
}

.carousel-item p {
  width: 30rem;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

/* Our News */
.newsimage {
  width: 15rem;
  height: 10rem;
  border-radius: 5px;
}

.res {
  margin: 50px 50px;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.disp {
  display: block;
  border: 1.4px #2b2e4a solid;
  color: #2b2e4a;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 9rem;
  font-family: 'Space Mono', monospace;
}

.disp:hover {
  text-decoration: none;
  color: #2b2e4a;
  font-weight: bold;
  width: 9rem;
  border-width: 2px;
}

/* footer */
.bgdark {
  background-color: #251f44;
  color: white;
}

.fotfont {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* .fotfont >p{
  margin-left:20px;
} */
.shape {
  text-align: center;
  margin-top: 10px;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

.leftrecent {
  text-align: left;
  margin-left: 10px;
}

.angle {
  font-weight: bolder;
  color: #f4f4f4;
}

.shapesmall {
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  color: #343a40;
}

.card-title {
  font-family: 'Ubuntu', sans-serif;
  color: #2b2e4a;
}

hr {
  background-color: #515070;
}

.fonter {
  font-weight: bold;
  padding-top: 10px;
}

.con {
  margin-right: 20px;
}

.cont {
  margin-right: 30px;
  color: #f4f4f4;
}

.fotfont:hover {
  color: #f4f4f4;
}

.fotfont p:hover {
  color: #f4f4f4;
}

.fotfont~p:hover {
  color: #f4f4f4;
}

.leftrecent p:hover {
  color: #f4f4f4;
}

.ptop {
  color: #1a1a2e;
  font-family: 'Ubuntu', sans-serif;
  line-height: 2;
  font-size: 1.5rem;
}

.online {
  color: #1a1a2e;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}
.OR>h3{
  font-size:15px;
}

@media (max-width:499px) {
  .moreReasons{
    font-size:25px;
    font-weight:bold;
    font-family: 'Ubuntu', sans-serif;
  }
  .ishape {
    text-align: center;
  }
  .res {
    margin: 20px 0px 20px 5px;
    padding-bottom: 4px;
  }
  .whatsapp{
    position:fixed;
    bottom:20%;
    right:35%;
    z-index:5;
    visibility:visible;
  }

  .online {
    font-size: 1.5rem;
  }

  .ptop {
    line-height: 2;
    font-size: 0.75rem;
  }

  .mar {
    font-size: 0.85rem;
  }

  .fd {
    font-size: 3rem;
  }

  .disp {
    width: 4rem;
    font-size: 7.5px;
  }

  .card-text {
    font-size: 10px;
    font-weight: 600;
  }

  .fonter {
    font-size: 0.7rem;
    width: 7rem;
  }

  .sup {
    font-size: 2rem;
  }

  .newsimage {
    width: 5rem;
    height: 3rem;
  }

  .imageresize {
    width: 15rem;
    margin-bottom: 10px;
  }
  .imageresized{
    width: 10rem;
    height:7.5rem
    margin:5px 10px 5px 10px;
  }
  .ir {
    border-radius:100%;
    height:15rem;
  }

  .OR {
    font-size: 10px;
    width: 11em;
    font-weight: light;
  }
  .OR>h3{
    font-size:10px;
  }

  .carousel-item p {
    width: 15rem;
    font-size: 15px;
    text-align: center;
    line-height: 2;
  }

  .navigation-pan {
    font-size: 20px;
    width: 80%;
    font-size: 1.5rem;
    line-height: 2;
  }

  .work {
    width: 20rem;
  }

  .position {
    width: 60%;
    margin: 15px;
    font-size: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
  }

  .textcolor p {
    font-size: 15px;
    font-weight: bold;
  }

  .reshape {
    width: 100rem;
    margin: 20px;
  }

  .designer {
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
  }
  .myShape{
    text-align: center;
  }
  #lad {
    font-size: 0.75rem;
  }

  #day {
    font-size: 2rem
  }
}

@media (min-width:500px) and (max-width:800px) {
  .position {
    max-width: 80%;
    margin: 50px;
  }

  .navigation-pan {
    width: 23rem;
  }

  .position h1 {
    font-size: 1rem;
  }

  .reshape {
    margin: 20px;
    max-width: 70%;
  }

  .newsimage {
    width: 10rem;
    height: 7rem;
  }

  .designer {
    text-align: left;
    margin-left: 70px;
  }
}

@media(min-width:801px) {
  .position h1 {
    font-size: 1rem;
  }
}

.preview {
  height: auto;
}

.preview img {
  width: 10rem;
  height: 8rem;
}

.preview p {
  margin-top:3rem;
  width: 20rem;
  float: left;
  clear: left;
}

.preview ol{
  list-style: none;
}
.preview li{
  margin-bottom:10px;
}
